.content {
  margin-top: 250px;
}
.title {
  width: 500px;
  height: 45px;
  left: 834px;
  top: 813px;
  border: 2px solid #719d25;
  box-sizing: border-box;
  border-radius: 0px;
  color: #719c28;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}
.contact {
  margin-left: 30%;
  width: 500px;
}
.contactLeft {
  border-right: solid #719c28;
}
.container {
  width: 500px !important;
  margin-top: 3px;
}
