<div><app-nav-bar> </app-nav-bar></div>
<div class="content"><router-outlet></router-outlet></div>
<div class="contact">
  <div class="title">Contact</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xl-6 contactLeft">
        <img class=" " src="../assets/logo2.PNG" alt="logo2" />
        <p>Cité Technologique des</p>
        <p>Communications Route</p>
        <p>de Raoued Km 3,5 2083 El</p>
        <p>Ghazala Ariana Tunisie</p>
      </div>
      <div class="col-sm-6 col-md-6 col-xl-6">
        <p>Contact : Tarek</p>
        <p>Tél : +216 96 909 023</p>
        <p>family_shell@gmail.com</p>
      </div>
    </div>
  </div>
</div>
