<div class="title">FAMILY HELPLINE</div>
<div class="parag1">
  <p style="font-size: 20px">
    Family shell offre un service d'assistance téléphoniqueconfidentiel et
    gratuit pour les en Tunisie .Pour un soutien<br />
    émotionnel, des informations, desconseils et des orientations sur tout
    aspect de laparentalité et de la vie de famille.
  </p>
</div>
<div class="container open">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-xl-4">
      <img class="open-picture" src="../../assets/Open.jfif" alt="nounou" />
    </div>
    <div class="col-sm-8 col-md-8 col-xl-8">
      <p id="letftP">Si vous voulez parler..</p>
      <p id="rightP">On est ici pour vous</p>
      <p id="numberP"><i class="fa fa-phone icon"></i>+216 71 155 445</p>
    </div>
  </div>
</div>
<div style="margin-left: 53px">
  <p
    style="
      margin-top: 15px;
      font-family: cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
    "
  >
    Horaires d'ouverture de la ligne d'assistance :
  </p>
  <ul>
    <li
      style="
        margin-top: 7px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
      "
    >
      Du lundi au vendredi de 9h à 21h
    </li>
    <li
      style="
        margin-top: 7px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
      "
    >
      Week-end de 10h à 15h
    </li>
  </ul>
  <p
    style="
      margin-top: 7px;

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
    "
    id="urgent"
  >
    <i
      style="color: red; font-size: 30px"
      class="fa fa-exclamation-triangle icon"
    ></i>
    Nous répondons actuellement à 64 % de tous les appelants qui sonnent. Si
    vous pas de réponse la première fois, veuillez réessayer.
  </p>
</div>
<div style="margin-left: 53px">
  <p
    style="
      margin-top: 25px;
      font-family: cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
    "
  >
    Qui peut appeler la Ligne Conseil ? :
  </p>

  <p
    style="
      margin-top: 7px;

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
    "
  >
    N'importe qui peut appeler la ligne d'information sur les relations
    familiales. Cela inclut les parents, les grands-parents, les enfants, les
    jeunes, les autres membres de la famille ou les amis. D'autres personnes
    susceptibles d'offrir des conseils ou un soutien aux familles peuvent
    également appeler la ligne d'assistance téléphonique pour obtenir des
    informations.
  </p>
  <img class="Case" src="../../assets/lastP.PNG" alt="nounou" />
  <img class="help" src="../../assets/help.PNG" alt="nounou" />
</div>
