<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-xl-8">
      <div>
        <img class="fit-picture" src="../../assets/nounou.PNG" alt="nounou" />
        <br />
        <Button class="jobTitle"
          ><span>NOUNOU</span>
          <br />
          <span>aprés-l’école</span>
        </Button>
      </div>
      <div>
        <img class="fit-picture" src="../../assets/menage.PNG" alt="nounou" />
        <br />
        <Button class="jobTitle"
          ><span>electricité</span>
          <br />
          <span>MENAGE</span>
        </Button>
      </div>
      <div>
        <img class="fit-picture" src="../../assets/gp.PNG" alt="nounou" />
        <br />
        <Button class="jobTitle"
          ><span>aide à</span>
          <br />
          <span>l’autonomie</span>
        </Button>
      </div>
      <div>
        <img class="fit-picture" src="../../assets/helpLine.PNG" alt="nounou" />
        <br />
        <Button class="jobTitle"><span>helpline</span> </Button>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-xl-4">
      <div class="title">Presentation</div>
      <p id="after-title">Ce qu’on fait et qui on est</p>
      <div class="infoBlue">
        Soucieuse du bien-être des enfants, des parents et des grands-parents,
        l’équipe de FAMILY SHELL recherche la solution adaptée à votre demande.
      </div>
      <div class="infoPurple">
        Les demandes des familles, concernent la recherche de personne qualifiée
        ou ayant de l’expérience pour s’occuper des enfants (baby-sitting,
        après-l ’école), ainsi que des personnes âgées .
      </div>
      <div class="infoGreen">
        D’autres services sont en demandes comme le besoin d’avoir un
        électricien, menuisier ou encore plombier le plus prés et tot possible !
      </div>
      <div class="infoPink">
        Ou encore lorsque les mamans sont parfois un peu perdues avec une
        première naissance ou l’arrivée d’un autre enfant.
      </div>
      <div class="infoOrange">
        Besoin de conseils, d’être écouté, pouvoir partager ses expériences et
        avoir de petites astuces, on a reservé pour vous un espace de Helpline
      </div>
    </div>
  </div>
</div>
